<p>viewproducts works!</p>
<div class="form-group">
    <label for="id">id:</label>
    <input type="text" class="form-control" required [(ngModel)]="pro.prod_id" name="prod_id">
</div>
<div class="form-group">
    <label for="name">name:</label>
    <input type="text" class="form-control" required [(ngModel)]="pro.prod_name" name="prod_name">
</div>
<div class="form-group">
    <label for="price">price:</label>
    <input type="text" class="form-control" required [(ngModel)]="pro.prod_cost" name="prod_cost">
</div>
<div class="form-group">
    <label for="description">desc:</label>
    <input type="text" class="form-control" required [(ngModel)]="pro.prod_desc" name="prod_desc">
</div>