html { 
    background: url(https://imgpile.com/images/67c90eaf9604057f0f9c0e52ffeb119c.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  }